USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 02/10/2024 12:56:15 SA ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022DEVELOPER\MSSQL\DATA\TestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022DEVELOPER\MSSQL\DATA\TestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 02/10/2024 12:56:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[Author] [nvarchar](50) NOT NULL,
	[Star] [float] NOT NULL,
	[ChapterFolder] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[ViewCount] [int] NOT NULL,
	[StartChapter] [int] NULL,
	[EndChapter] [int] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookTag]    Script Date: 02/10/2024 12:56:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBook] [int] NOT NULL,
	[IdTag] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BookTag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rate]    Script Date: 02/10/2024 12:56:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdBook] [int] NOT NULL,
	[Star] [tinyint] NOT NULL,
	[ContentRate] [nvarchar](200) NULL,
 CONSTRAINT [PK_Rate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadingStatus]    Script Date: 02/10/2024 12:56:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadingStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdBook] [int] NOT NULL,
	[IsFavorite] [bit] NOT NULL,
	[IsReading] [bit] NOT NULL,
 CONSTRAINT [PK_Favorite] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 02/10/2024 12:56:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [nchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 02/10/2024 12:56:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Birth] [date] NULL,
	[Address] [nvarchar](200) NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Id], [Title], [Image], [Author], [Star], [ChapterFolder], [Description], [ViewCount], [StartChapter], [EndChapter]) VALUES (1, N'Lén nhặt truyện đời', N'http://127.0.0.1/Books/1.png', N'Nguyễn Đình Văn', 4.7, N'sach0', N'Tóm tắt', 131, 1, 14)
INSERT [dbo].[Book] ([Id], [Title], [Image], [Author], [Star], [ChapterFolder], [Description], [ViewCount], [StartChapter], [EndChapter]) VALUES (2, N'Attack On Titan 6', N'http://127.0.0.1/Books/3.png', N'Nguyễn Trưởng Huy', 4.5, N'sach0', N'Tóm tắt sách 456', 790, 1, 14)
INSERT [dbo].[Book] ([Id], [Title], [Image], [Author], [Star], [ChapterFolder], [Description], [ViewCount], [StartChapter], [EndChapter]) VALUES (3, N'Lược sử nước Việt bằng tranh', N'http://127.0.0.1/Books/5.png', N'Nguyễn Đình Huy', 4, N'sach0', N'', 1110, 1, 14)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookTag] ON 

INSERT [dbo].[BookTag] ([Id], [IdBook], [IdTag]) VALUES (1, 1, N'tieu-thuyet')
INSERT [dbo].[BookTag] ([Id], [IdBook], [IdTag]) VALUES (2, 2, N'hanh-dong')
INSERT [dbo].[BookTag] ([Id], [IdBook], [IdTag]) VALUES (3, 3, N'tieu-thuyet')
SET IDENTITY_INSERT [dbo].[BookTag] OFF
GO
SET IDENTITY_INSERT [dbo].[Rate] ON 

INSERT [dbo].[Rate] ([Id], [IdUser], [IdBook], [Star], [ContentRate]) VALUES (1, 1, 1, 5, N'Sách hay vậy, sẽ giới thiệu cho mọi người !')
INSERT [dbo].[Rate] ([Id], [IdUser], [IdBook], [Star], [ContentRate]) VALUES (2, 1, 5, 5, N'Sách hay thì vkl')
INSERT [dbo].[Rate] ([Id], [IdUser], [IdBook], [Star], [ContentRate]) VALUES (3, 1, 12, 5, N'Sách này mới ra khá hay á ?')
SET IDENTITY_INSERT [dbo].[Rate] OFF
GO
SET IDENTITY_INSERT [dbo].[ReadingStatus] ON 

INSERT [dbo].[ReadingStatus] ([Id], [IdUser], [IdBook], [IsFavorite], [IsReading]) VALUES (1, 1, 12, 1, 1)
INSERT [dbo].[ReadingStatus] ([Id], [IdUser], [IdBook], [IsFavorite], [IsReading]) VALUES (2, 1, 4, 1, 0)
INSERT [dbo].[ReadingStatus] ([Id], [IdUser], [IdBook], [IsFavorite], [IsReading]) VALUES (3, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[ReadingStatus] OFF
GO
INSERT [dbo].[Tag] ([Id], [Name]) VALUES (N'hai-huoc                                          ', N'Hài hước')
INSERT [dbo].[Tag] ([Id], [Name]) VALUES (N'hanh-dong                                         ', N'Hành động')
INSERT [dbo].[Tag] ([Id], [Name]) VALUES (N'ngon-tinh                                         ', N'Ngôn tình')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FullName], [Birth], [Address], [Username], [Password]) VALUES (1, N'Nguyễn Trịnh Tuấn', CAST(N'2001-01-01' AS Date), N'Ha Noi', N'admin', N'12345')
INSERT [dbo].[User] ([Id], [FullName], [Birth], [Address], [Username], [Password]) VALUES (7, N'Khách', CAST(N'2015-02-03' AS Date), N'Hà Nội - Hải Phòng', N'guest', N'1')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF_Book_Star]  DEFAULT ((0.0)) FOR [Star]
GO
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [DF_Book_ViewCount]  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[ReadingStatus] ADD  CONSTRAINT [DF_ReadingStatus_IsFavorite]  DEFAULT ((0)) FOR [IsFavorite]
GO
ALTER TABLE [dbo].[ReadingStatus] ADD  CONSTRAINT [DF_ReadingStatus_Status]  DEFAULT ((0)) FOR [IsReading]
GO
USE [master]
GO
